#Created by OS (macOS)
*.DS_Store
*._.DS_Store
*~
*._*
#Autogenerados en compilacion
scanner.dSYM/
lex.yy.c
lex.yy.o
parser.output
parser.tab.c
parser.tab.h
#Ejecutable
scanner
#Entregas
entrega.tar.gz
